.grid{height: 500px;
width: 500px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;}
body{
    background-color: black;
}

.turn-highlight{
    color: white;
}
.reset{

    border-radius: 15px;
    width: 90px;
    height: 41px;
    background: lawngreen;

}